<<% provide(:title, "About") %>

    <h1>About</h1>
    <p>
        Spretta About
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu scelerisque erat. Curabitur eget rutrum mi. Aliquam erat volutpat. Vivamus accumsan, magna non ornare cursus, est quam semper nulla, maximus condimentum lorem justo vel leo. Donec scelerisque elit sit amet augue imperdiet, ultricies condimentum risus viverra. Etiam vel turpis elit. Aliquam porttitor commodo turpis, aliquam molestie ligula sollicitudin in. Sed eleifend metus mi. Morbi quis neque et justo accumsan mattis eu nec magna. Mauris commodo elit a magna tincidunt efficitur.


    </p>
  